body {
    margin: 0;
}

.header {
    color: #EEEEEE;
    background-color: #00ADB5;
    padding: 10px;
    border-bottom: 5px solid #393E46;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin: 0;
}

.header .header-options {
    display: flex;
    gap: 16px;
}

.header a {
    color: #EEEEEE;
    text-decoration: none 
}

.landing-page-container{
    background-color: #222831;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    padding-bottom: 100px;

    display: flex;
    gap: 50px;
}

.landing-page-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.landing-page-text h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0px;
}

.landing-page-text p {
    color: #E5E7EB;
    font-size: 18px;
    margin: 0px;
}

.landing-page-container img {
    height: 300px;
    width: 900px;
}





.footer {
    background-color: #393E46;
    color: #EEEEEE;
    height: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}