body {
    margin: 0;
}

.header {
    margin: 0;
    color: rgb(19, 55, 85);
    background-color: aquamarine;

    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-options {
    display: flex;
    gap: 16px;
}

.header h1 {
    margin: 0;
}

.header a {
    color: rgb(19, 55, 85);
    text-decoration: none 
}

.container-landing-page {
    background-color: #1F2937;

    padding-left: 200px;
    padding-right: 200px;

    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 50px;
}

.sign-up-text {
    display: flex;
    flex-direction: column;
}

.sign-up-text h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0px;
}

.sign-up-text p {
    color: #E5E7EB;
    font-size: 18px;
    margin: 0px;
}

.sign-up-text button {
    color: #E5E7EB;
    background-color: #3882F6;
    font-size: 18px;
    font-weight: 500;
    height: 35px;
    width: 150px;
    margin-top: 15px;

    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.container-landing-page img {
    height: 300px;
    width: 900px;
}